p#pogrubienie_Kociszewska{
    font-size: 36px;
    color: #D26434;
}

p#pochylona_Kociszewska{
    font-size: 41pt;
    color: #E23341;
}

p#index_gorny_Kociszewska{
    font-size: 1,6cm;
    color: #95DBCC;
}

p#index_dolny_Kociszewska{
    font-size: 2,3cm;
    color:rgb (57%,238%,232%);
}

p#mono_Kociszewska{
    font-size: 46px;
    color: #1BDD54;
}

p#powiekszenie_Kociszewska{
    color: #85A392;
}

p#pomniejszenie_Kociszewska{
    color:rgb (187%,158%,62%);
}
