p#pogrubienie_Kociszewska{
    font-size: 36px;
    color: #8958D4;
}

p#pochylona_Kociszewska{
    font-size: 41pt;
    color: #EDBC70;
}

p#index_gorny_Kociszewska{
    font-size: 1,6cm;
    color: #9D9620;
}

p#index_dolny_Kociszewska{
    font-size: 2,3cm;
    color:rgb (57%,238%,232%);
}

p#mono_Kociszewska{
    font-size: 46px;
    color: #1DDA70;
}

p#powiekszenie_Kociszewska{
    color: #573AA2;
}

p#pomniejszenie_Kociszewska{
    color:rgb (187%,158%,62%);
}
